////////////
// Header //
////////////

.site-header {
    @include outer-container();

    display: block;
    position: relative;
    margin: 1em 0;
    width: 100%;

}

.site-logo {
    float: left;

    :hover {
        text-decoration: none;
    }

    @media screen and (max-width: 1138px) {
        max-height: 7em;
    }

    @media screen and (max-width: 999px) {
        float: none;
        max-height: 6em;
        text-align: center;

        :after {
            @include clearfix;
        }
    }
}

.site-branding {
    position: absolute;
    bottom: 0;
    left: 350px;

    @media screen and (max-width: 1138px) {
        left: 300px;
    }

    @media screen and (max-width: 999px) {
        float: none;
        position: relative;
        left: auto;
        margin-top: 1em;
        margin-right: 0;
        text-align: center;

        :after {
            @include clearfix;
        }
    }
}

.site-title {
    float: left;

    font-weight: 300;
    font-family: "Garamond",serif;
    //font-size: 3.1573345183em;
    font-size: 3vw;
    line-height: 1em;
    text-transform: uppercase;

    :hover {
        text-decoration: none;
    }

    @media screen and (max-width: 999px) {
        //font-size: 2em;
        font-size: 5vw;
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
        width: 100%;
    }

    @media screen and (max-width: 480px) {
        //font-size: 2em;
        font-size: 8vw;
    }
}

.site-description {
    float: left;

    font-family: "Garamond",serif;
    font-style: italic;
    //font-size: 2em;
    font-size: 2vw;

    :hover {
        text-decoration: none;
    }

    @media screen and (max-width: 999px) {
        //font-size: 1.2em;
        font-size: 3vw;
        text-align: center;
        padding-left: 2em;
        padding-right: 2em;
        width: 100%;
    }

    @media screen and (max-width: 480px) {
        //font-size: 2em;
        font-size: 5vw;
        line-height: 1;
        margin-top: 0.5rem;
    }
}

.main-navigation {
    @media screen and (max-width: 1138px) {
        display: none;
    }
}

.content-container {
    @media screen and (max-width: 1138px) {
        border-top: 1px solid #dbdbdb;
    }
}